<div class="contents">
  <div class="user-icon">
    <img src="assets/account_circle-black.svg" alt="Account icon" />
  </div>
  <form class="form">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" type="password" />
    </mat-form-field>
  </form>
  <button mat-raised-button color="primary">Login</button>
  <div class="forget-password">
    <a routerLink="forget">Forget Password?</a>
  </div>
</div>
