<div style="padding-top: 10px">
  <div class="digital">
    <mat-card>
      <div class="digital-content">{{ enrolledStudents }}</div>
      <mat-card-subtitle> Total Students Enrolled </mat-card-subtitle>
    </mat-card>
  </div>
  <div class="digital">
    <mat-card>
      <div class="digital-content">{{ employedTeachers }}</div>
      <mat-card-subtitle> Total Teachers Employed </mat-card-subtitle>
    </mat-card>
  </div>
  <div class="digital">
    <mat-card>
      <div class="digital-content">200</div>
      <mat-card-subtitle> Students In my Class </mat-card-subtitle>
    </mat-card>
  </div>
  <div class="digital">
    <mat-card>
      <div class="digital-content">200</div>
      <mat-card-subtitle> Students Enrolled In my subjects </mat-card-subtitle>
    </mat-card>
  </div>
</div>
<div>
  <div style="width: 50%; float: left">
    <canvas id="students_per_class"> </canvas>
  </div>
  <div style="width: 50%; float: left">
    <canvas id="students_performance"> </canvas>
  </div>
  <div style="width: 50%; float: left">
    <canvas id="teachers_performance"> </canvas>
  </div>
  <div style="width: 50%; float: left">
    <canvas id="teacher_per_subject"> </canvas>
  </div>
</div>
