.logo {
  vertical-align: middle;
  height: 100%;
}
.logo video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.logo h1 {
  padding-top: 250px;
  height: 600px;
  text-align: center;
  background-color: #fff;
  mix-blend-mode: screen;
  text-transform: uppercase;
  font-size: 300px;
  font-weight: 800;
  user-select: none;
}
